<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">User name</label>
        <input type="text" id="username" name="username" formControlName="username" required />
        <div *ngIf="loginForm.controls['username'].invalid && loginForm.controls['username'].touched">
            <small class="error">Username is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" formControlName="password" required />
        <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            <small class="error">Password is required</small>
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>

      <div *ngIf="errorMessage" class="error">
        {{errorMessage}}
      </div>
    </form>
  </div>
  